@model ProjectsViewModel
@{
    ViewData["Title"] = "Projects";
}

<partial name="Partials/Project/_AddProjectModal" model="Model.AddProjectViewModel" />
<partial name="Partials/Project/_EditProjectModal" model="Model.EditProjectViewModel" />

<section id="projects">
    <div class="section-header">
        <h1>@ViewData["Title"]</h1>
        <button type="button" data-type="modal" data-target="#addProjectModal" class="btn btn-add"><span>Add Project</span></button>
    </div>


    <section class="project-list">
        @foreach (var project in Model.Projects)
        {
            <div class="project card">
                <div class="card-header">

                    <div class="project-image" style="grid-area: img;">
                        <img class="image"
                             src="@Url.Content("~/images/projects/" + project.Image)"
                             alt="@project.ProjectName" />
                    </div>

                    <h6 class="project-name" style="grid-area: name;">
                        @project.ProjectName
                    </h6>

                    <div class="project-dropdown-container" style="grid-area: action;">
                        <button type="button"
                                data-type="dropdown"
                                data-target="#project-dropdown-@project.Id"
                                class="btn-action">
                            <i class="fa-solid fa-ellipsis"></i>
                        </button>

                        <div id="project-dropdown-@project.Id" class="dropdown project-dropdown">
                            <div class="dropdown-body">
                                <nav class="dropdown-actions">
                                    <a class="dropdown-action" href="#">
                                        <i class="fa-duotone fa-solid fa-pen-to-square"></i>
                                        <span>Edit</span>
                                    </a>
                                </nav>
                                <nav class="dropdown-actions">
                                    <a class="dropdown-action" href="#">
                                        <i class="fa-duotone fa-solid fa-user-plus"
                                           style="--fa-primary-opacity: 0.4; --fa-secondary-opacity: 1;"></i>
                                        <span>Add Member</span>
                                    </a>
                                </nav>
                                <div class="divider"></div>
                                <nav class="dropdown-actions">
                                    <a class="dropdown-action dropdown-delete" href="#">
                                        <i class="fa-duotone fa-solid fa-trash"></i>
                                        <span>Delete Project</span>
                                    </a>
                                </nav>
                            </div>
                        </div>
                    </div>

                    <span class="client-name" style="grid-area: client;">
                        @project.Client.ClientName
                    </span>
                </div>

                <div class="card-body">
                    <p class="project-description">
                        @project.Description
                    </p>
                </div>

                <div class="card-footer">
                </div>
            </div>

        }
    </section>
</section>





